picodet_lcnet_x1_0_fgd_layout_table_infer/infer_cfg.yml filter=lfs diff=lfs merge=lfs -text
picodet_lcnet_x1_0_fgd_layout_table_infer/model.pdiparams filter=lfs diff=lfs merge=lfs -text
picodet_lcnet_x1_0_fgd_layout_table_infer/model.pdiparams.info filter=lfs diff=lfs merge=lfs -text
picodet_lcnet_x1_0_fgd_layout_table_infer/model.pdmodel filter=lfs diff=lfs merge=lfs -text
